In [6]:
# IMPORT LIBRARY 

from __future__ import print_function, division
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import warnings
import matplotlib.patches as mpatches
import seaborn as sns

from sklearn.model_selection import train_test_split

# 随机森林, GBR, KNN, LR, Decision Tree, GNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.utils import check_random_state
from sklearn.metrics import classification_report, confusion_matrix, roc_curve, auc
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.naive_bayes import GaussianNB
warnings.filterwarnings('ignore')
rs = check_random_state(4421)

data = pd.read_csv('games.csv')

data.drop(["t1_champ1id","t1_champ2id",
                      "t1_champ3id","t1_champ4id","t1_champ5id","t2_champ1id",
                      "t2_champ2id","t2_champ3id","t2_champ4id","t2_champ5id","t1_ban1","t1_ban2","t1_ban3",
                      "t1_ban4","t1_ban5","t2_ban1","t2_ban2","t2_ban3","t2_ban4","t2_ban5","seasonId"],axis = 1,inplace = True)

data

,gameId,creationTime,gameDuration,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,...,t2_champ3_sum2,t2_champ4_sum1,t2_champ4_sum2,t2_champ5_sum1,t2_champ5_sum2,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills
0,3326086514,1504279457970,1949,1,2,1,1,1,1,2,...,4,14,4,4,3,5,0,0,1,1
1,3229566029,1497848803862,1851,1,1,1,1,0,1,1,...,4,4,14,4,7,2,0,0,0,0
2,3327363504,1504360103310,1493,1,2,1,1,1,2,0,...,12,4,11,7,4,2,0,0,1,0
3,3326856598,1504348503996,1758,1,1,1,1,1,1,0,...,3,4,14,4,7,0,0,0,0,0
4,3330080762,1504554410899,2094,1,2,1,1,1,1,0,...,4,4,12,4,7,3,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51485,3308904636,1503076540231,1944,2,1,2,2,0,2,0,...,7,3,4,11,4,10,2,0,4,0
51486,3215685759,1496957179355,3304,2,1,1,2,2,2,2,...,4,4,12,14,4,11,7,4,4,1
51487,3322765040,1504029863961,2156,2,2,2,2,0,1,0,...,4,12,4,14,4,10,2,0,2,0
51488,3256675373,1499562036246,1475,2,2,2,2,0,2,0,...,14,12,4,11,4,11,3,0,1,0
51489,3317333020,1503612754059,1445,1,1,1,1,1,2,0,...,4,11,4,12,4,1,0,0,1,0

In [7]:
data = data[data['gameDuration']>=300]
data=data[["winner","firstBlood","firstTower","firstInhibitor","firstBaron","firstDragon","firstRiftHerald","t1_towerKills","t1_inhibitorKills",'t1_baronKills',
       't1_dragonKills','t1_riftHeraldKills','t2_towerKills','t2_inhibitorKills', 't2_baronKills', 't2_dragonKills','t2_riftHeraldKills'
       ]]

In [8]:
X = data.drop(['winner'], axis=1)
Y = data['winner'].values

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.20, random_state=rs)

In [10]:
from sklearn.neural_network import MLPClassifier

mlp = MLPClassifier(solver='sgd',activation = 'logistic',max_iter = 10,alpha = 1e-5,
                    hidden_layer_sizes = (200,),random_state = 40,verbose = True)

mlp.fit(X_train, y_train)
y_pred = mlp.predict(X_test)
accuracy_test = accuracy_score(y_test, y_pred.round())
print("Accuracy=", accuracy_test)

Iteration 1, loss = 0.45423664
Iteration 2, loss = 0.21840517
Iteration 3, loss = 0.14954356
Iteration 4, loss = 0.12305756
Iteration 5, loss = 0.10994428
Iteration 6, loss = 0.10240904
Iteration 7, loss = 0.09757311
Iteration 8, loss = 0.09430693
Iteration 9, loss = 0.09195891
Iteration 10, loss = 0.09021837
Accuracy= 0.9679888656924147